
.delete{
  display: flex;
  justify-content: center;
  background: red;
}

.delete{
  border: 1px solid white;
  width: 40px;
  padding: 5px;
  border-radius: 10px;
  opacity: 70%;
}

.delete:hover{
  curson: pointer;
  opacity: 100%;
}